<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @album.duration %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @album.rating %>
</p>

<p>
  <strong>Info:</strong>
  <%= @album.info %>
</p>

<p>
  <strong>Cover url:</strong>
  <%= @album.cover_url %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
